* {
    transition: all 0.5s ease-out;
  }

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    text-align: center;
}

body {
    margin: 0;
    width: 100%;
}

h2{
    margin-left: 120px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
    position: absolute;
    left:0px;
    height: 100%;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 120px;
    padding: 1px 16px;
    height: 1000px;
  }

.topnav {
    overflow: hidden;
    background-color: #049faa;
    color: white;
    font-size: 1rem;
    padding: 2px;
}

#imagen{
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 120px;
}

#authentication-bar{
    background-color:mintcream;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 120px;
}

#user-details{
    color: cadetblue;
}

.content {
    padding: 20px;
}

.card {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    padding: 3%;
    border-radius: 10px;
    margin: 3px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #008391;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform 0.5s ease-out;        
      }
    
      &:hover:before {
        transform: scale(10);
      }
}
.reading {    
    color: #193036;
}

.card:hover > p {
    transition: all 0.3s ease-out;
    color: #ffffff;
}

.card:hover > .reading {
    transition: all 0.3s ease-out;
    color: #ffffff;
}

.cards {
    max-width: 2000px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 120px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
}

.card2 {
    display: block;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    padding: 3%;
    border-radius: 10px;
    margin: 3px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    
}

.cards2 {
    max-width: 2000px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 120px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
}

.date-time{
    font-size: 0.8rem;
    color: #1282A2;
    margin-left: 120px;
}

button {
    background-color: #049faa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
   opacity: 0.8;
}
.deletebtn{
    background-color: #c52c2c;
}

.form-elements-container{
    padding: 16px;
    width: 250px;
    margin: 0 auto;
}

.form-elements-container2{
    width: 250px;
    margin: 0 auto;
}

.input-ciclo{
    width: 50px;
    text-align: center;    
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

table {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}   
tr, td {
    padding: 0.25rem;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
tr:hover {
    background-color: #ddd;
}
th {
    position: sticky;
    top: 0;
    background-color: #50b8b4;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 60;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .sidebar {
        width: 150%;
    }
}